:root {
    /* Colors */
    --clr-black: #121212;
    --clr-dark-blue: #19202D;
    --clr-white: #fff;
    --clr-grey-100: #e7eaee;
    --clr-grey-200: #cfcfcf;
    --clr-grey-400: #676d7e;
    --clr-grey-500: #48556a;
    --clr-purple-50: #ede4ff;
    --clr-purple-300: #a775f1;
    --clr-purple-500: #733fc8;

    /* Typography (sizes assuming 16px root) */
    --font-size-preset-1: 1.25rem; /* 20px */
    --font-size-preset-2: 0.813rem; /* 13px */
    --font-size-preset-3: 0.813rem; /* 13px */
    --font-size-preset-4: 0.688rem; /* 11px */

    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    
    --line-height-preset-1: 1.2;
    --line-height-preset-2: 1.1;
    --line-height-preset-3: 1.4;
    --line-height-preset-4: 1.1;

    --letter-spacing: 0;

    /* Spacing */
    --spacing-50: 0.25rem; /* 4px */
    --spacing-100: 0.5rem; /* 8px */
    --spacing-200: 1rem; /* 16px */
    --spacing-300: 1.5rem; /* 24px */
    --spacing-400: 2rem; /* 32px */
    --spacing-500: 3rem; /* 40px */
}